/* Resetting default styles */
html, body {
  margin: 0;
  padding: 0;
}

/* Custom Styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f8f9fa; /* Light gray background */
}

header {
  background-color: #343a40; /* Dark background */
  color: #fff; /* White text */
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #343a40; /* Dark background */
  color: #fff; /* White text */
  padding: 10px;
  text-align: center;
}

nav a, nav button {
  color: #fff; /* White text */
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
}

nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  padding-top: 20px;
}

aside {
  background-color: #495057; /* Gray background */
  color: #fff; /* White text */
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.exercise {
  background-color: #f8f9fa; /* Light gray background */
  color: #212529; /* Dark text */
  padding: 20px;
}

/* Media query for responsive design */
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .exercise {
    width: 70%;
  }
}

/* CSS for changing button colors on hover */
.nav-link:hover,
.btn:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Transparent white color on hover */
}

/* CSS for changing text color on hover */
.nav-link:hover,
.btn:hover {
  color: #fff; /* White text color on hover */
}
