/* Resetting default styles */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #b63232;
}

aside {
  background-color: #999;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.exercise {
  background-color: #ccc;
  color: #000;
  padding: 20px;
  width: 100%;
}

/* Bootstrap Navbar Styling */
.navbar {
  background-color: #333;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent white color on hover */
}

/* Main Container Padding */
.main-container {
  padding-top: 20px;
}

/* Button Styling */
.btn-primary {
  background-color: #0066ff;
  border-color: #0066ff;
}

.btn-primary:hover {
  background-color: #0056cc;
  border-color: #0056cc;
}

/* Text color change on hover */
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
}

/* Button Margin */
.btn {
  margin-right: 10px;
}